{{- $b := .block -}}
{{- if where site.RegularPages "Type" "posts" -}}
{{- $more := "" -}}
{{- with $b.more_url -}}
  {{- $more = partial "func/url.html" (dict "url" .) -}}
{{- else -}}
  {{- range first 1 (where site.Sections "Type" "posts") }}{{ $more = .RelPermalink }}{{ end -}}
{{- end -}}
<section class="block block-latest-posts band band--{{ $b.background | default "light" }}">
  <div class="wrap wrap--1180 reveal">
    {{- with $b.title }}
    <h2 class="block__title">{{ . }}</h2>
    {{- end }}
    {{ partial "latest-posts-grid.html" (dict "count" ($b.count | default 4) "section" $b.section "level" (cond (isset $b "title") 3 2)) }}
    {{- with $more }}
    <p class="block__more"><a class="btn" href="{{ . }}">{{ $b.more_label | default (T "moreNews") }}</a></p>
    {{- end }}
  </div>
</section>
{{- end -}}
